html, body {
  background-color: #e7e7e7;
  margin: 0px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

html, body, .container, .root {
  height: 100vh;
}
.button{
  padding: 7.5px 15px;
  background-color: #2495e0;
  color: white;
  border-radius: 5px;
  width: 160px;
  margin-left: 7.5px;
  margin-top: 7.5px;
  box-shadow: 0px 5px #1d73ad;
  cursor: pointer;
}
.container{
  display: flex;
  flex-direction: column;
}
.row:first-child{
  height: 50px;
}
.row{
  margin-top: 35px;
}
.stages{
  flex: 1;
  display: flex;
}
@keyframes appear {
  0% {
      transform: scale(0)
  }
  25% {
      transform: scale(1.01)
  }
  50% {
      transform: scale(1)
  }
  100% {
      transform: scale(1)
  }
} 