.card {
    border-radius: 5px;
    border: 1px solid #cecece;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    color: gray;
    background-color: white;
    margin-bottom: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    animation: appear .8s;
}

.card div:not(.card-value){
    display: flex;
}

.card-business{
    padding: 7.5px;
    font-weight: bold;
}

.card-company img{
    width: 15px;
    height: 15px;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.card-value{
    padding: 7.5px;
    color: green;
    text-align: right;
    font-size: 12px;
}

input {
    border: 0px;
    flex: 1;
}

input:focus, input:active{
    box-shadow: none;
    border: 0px;
    outline: none;
}

::placeholder{
    color: #dedede;
    font-style: italic;
}

.card-value input{
    text-align: right;
    font-size: 12px;
    color: green;
}

.actions{
    display: flex;
}

.actions div{
    cursor: pointer;
    padding: 3px;
}

.remove, .remove img{
    width: 20px;
    height: 20px;
}