.errors{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
}





.error{
    border: 1px solid #cecece;
    box-shadow: 0px 5px 10px rgba( 0, 0, 0, .1) ;
    margin-bottom: 15px;
    width: 300px;
    background-color: #ae5e5e55;
    border-radius: 5px;
    padding: 15px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    animation-name: appear;
    animation-duration: .8s;
    transition: all 0.5s;
    color: #ae5e5e;
    font-weight: bold;
}