.column{
    flex: 1;
    margin-top: 7.5px;
}

.column-warper{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.column-header{
    width: 100%;
    color: white;
    margin-bottom: 7.5px;
}

.column-title{
    padding: 7.5px;
    font-weight: bold;
    font-style: italic;
}

.default .column-title{
    background-color: #5c82a7;
}

.earns .column-title{
    background-color: #64a75c;
}

.losses .column-title{
    background-color: #ae5e5e;
}

.column-body{
    padding: 7.5px;
}

.default .column-body{
    background: #507191;
}

.earns .column-body{
    background: #549150;
}

.losses .column-body{
    background: #8f4747;
}

.column-body span:last-child{
    float: right;
}